@import  url("fonts.css");
@import  url("reset.css");


.whitecollor-maket {
padding: 100px 0;
font-family: "Inter";
margin: 0 auto;
max-width: 675px;
}
.content-top {
font-size: 0;
margin-bottom: 10px;
}
.whitecollor-subtitle {
color: #37393F;
font-size: 18px;
font-weight: 500;
line-height: 1.2;
margin-bottom: 16px;
max-width: 200px;
}

.whitecollor-subtitle::before{
background: #40DDB6;
width: 12px;
height: 12px;
content: "";
margin-right: 6px;
display: inline-block;
}

.whitecollor-subtitle:hover::before {
background: red;

}


.whitecollor-title {
color: #37393F;
font-family: "Poppins";
font-size: 40px;
font-weight: 700;
line-height: 1.21;
max-width: 415px;  
}

.whitecollor-maket p {
color: #7D7D7D;
font-family: "Inter";
font-size: 18px;
line-height: 1.46;
}



.whitecollor-text p:first-child {
margin-bottom: 16px;
}

.whitecollor-text{
margin-bottom: 48px;

}
.ourvission-content,
.mission-content {
max-width: 675px;
border: 1px solid #E3E3E3;
padding: 28px 41px 28px 38px;
margin-bottom: 31px;
}

.ourvission-title,
.mission-title {
color: #37393F;
font-family: "Poppins";
font-size: 20px;
font-weight: 600;
line-height: 1.2;
margin-bottom: 12px;
}

.ourvission-title::before,
.mission-title::before {
background: url("../img/vector.jpg")0 0 no-repeat;
content: "";
display: inline-block;
width: 27px;
height: 27px;
margin-right: 19px;
margin-bottom: -7px;
}

.ourvision-block,
.mission-block {
max-width: 596px;
}

.mission-block p,
.ourvision-block p {
padding-left: 45px;
}




/*Не уверен что правильно отцентровал содержимое блока, делал больше на глазок*/


.mission-content {
margin-bottom: 48px;
}

.button {
width: 200px;
height: 65px;
}
.link-about {
color: #FFF;
text-align: center;
font-family: "Inter";
font-size: 18px;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
background: #6B77E5;
padding: 21px 35px 21px 35px;

}

.link-about:hover {
background: #2536d3;
}

.link-about:focus {
background: #09136e;
}



.internatioanl-maket {
	padding: 100px 0;
}
.international-container {
	max-width: 692px;
	margin: 0 auto;
}

.top-content {
	margin-bottom: 42px; 
}

.international-title {
	color: #3C373F;
	font-family: "Poppins";
	font-size: 30px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 3px;
}

.internatioanl-maket p {
	color: #7D7D7D;
	font-family: "Inter";
	font-size: 18px;
	line-height: 1.46;
}

.top-content p:last-child {
	margin-bottom: 0;
}


.midl-title {
	color: #6B77E5;
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 12px;
}

.internatioanl-midl-content p:last-child {
	margin-bottom: 0px;
}

.internatioanl-midl-content {
	margin-bottom: 40px;
}

.bot-content {
	margin-right: 29px;
	display: inline-block;
	font-size: 0;
}

.block-content-title {
	color: #37393F;
	font-family: "Poppins";
	font-size: 25px;
	font-weight: 600;
	line-height: 1.21;
	margin-bottom: 15px;
}

.block-content-subtitle {
	color: #40DDB6;
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 21px;
}

.second-block {
	display: inline-block;
	font-size: 0px;
	margin-bottom: 50px;
}

.right-content {
	display: inline-block;
	max-width: 332px;
	margin-left: 29px;
	
}

.bot-title {
	font-family: "poppins";
	font-weight: 600;
	color:rgba(55, 57, 63, 1) ;
	font-size: 25px;
	margin-bottom: 15px;
	line-height: 1.27;
}

.bot-subtitle {
	font-family: "poppins";
	font-weight: 600;
	color:#40DDB6;
	font-size: 20px;
	margin-bottom: 21px;
	line-height: 1.27;
}

.right-content ul {
	font-family: "inter";
	color:#7D7D7D;
	line-height: 1.27;
	font-size: 18px;
}



.list-item li:last-child {
	margin-bottom: 0;
}

.list-item::before {
	content: "";
	display: inline-block;
	background: url("../img/vector.jpg")0 0 no-repeat;
	width: 27px;
	height: 27px;
	vertical-align: middle;
	margin-right: 6px;
	opacity: 0.5;
	
}

.list-item:hover::before {
	opacity: 1;
	
}


.list-item {
	margin-bottom: 25px;
}

.sub-bot-title{
color: #37393F;
font-family: "Poppins";
font-size: 30px;
font-weight: 600;
line-height: 1.21;
margin-bottom: 6px;
}


.work-process-maket {
	max-width: 1220px;
	margin: 0 auto;
}

.work-process-top {
	text-align: center;
	max-width: 283px;
	margin: 0 auto;
	margin-bottom: 41px;
}

.work-process-subtitle::before {
	background: url("../img/Rectangle\ 8.png")0 0 no-repeat;
	display: inline-block;
	content: "";
	width: 12px ;
	height: 12px ;
}

.work-process-subtitle {
	color: #37393F;
font-family: "Inter";
font-size: 18px;
font-weight: 500;
line-height: 1.2;
margin-bottom: 16px;
}

.work-process-title {
	color: #37393F;
	text-align: center;
	font-family: "Poppins";
	font-size: 40px;
	font-weight: 700;
	line-height: 1.21;
}

.first-card {
	max-width: 386px;
	padding: 58px 43px;
	background: #F4F4F4;
}

.card-content {
	max-width: 300px;
	
}

.title-card {
	color: #37393F;
	text-align: center;
	font-family: "Poppins";
	font-size: 25px;
	font-weight: 600;
	line-height: 1.27; 
	margin-bottom: 16px;
}

.card-content p {
	color: #7D7D7D;
	text-align: center;
	font-family: "Inter";
	font-size: 18px;
	line-height: 1.46;
	
}

.card-content p {
	margin-bottom: 37px;
}

.card-content a {
	color: #6B77E5;
   text-align: center;
	font-family: "Inter";
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
	text-transform: capitalize;
	display: inline-block;
	
}


.first-img {
	margin: -92px auto 22px;
}

.img-calendar {
	width: 72px ;
	height: 72px;
}









