@import  url("reset.css");

	*{
		color: black;
	}

	div {
	color: aqua;
	}
	
	.link-air {
		color: yellow;
	}
	
	[class*="text-"]{
		color: green;
	}
	
	#planer{
		color: chocolate;
	}
	
	div.text-fly {
		color: crimson;
	}
	
	.text-ancient.text-airsnake{
		color: darksalmon;
	}
	
	.text-nowday,
	.link {
		color: chartreuse;
	}
	
	.text-nowday p {
		color: whitesmoke;
	}
	
	.link.content-bot {
		color: blanchedalmond;
	}
	
	.text-plan * {
		color: darkmagenta;
	}
	
	.text-spain > p {
		color: grey;
	}



