@import  url("fonts.css");
@import  url("reset.css");


.wrapper {
	overflow: clip;
	min-height: 100%;
}


.products {
	background: url("../img/pngegg.webp") no-repeat;
	background-position: right bottom;
}

.products__container {
	max-width: 1328px;
	margin: 0 auto;
	padding-left: 80px;
	padding-right: 80px;
}

.products__title {
	color: #000;
	font-family: "DM Serif Text";
	font-size: 58px;
	font-weight: 400;
	margin-bottom: 27px;
}

.products__sub-title {
	color: #606060;
font-family: "Inter";
font-size: 20px;
font-weight: 400;
line-height: 1.8;
margin-bottom: 30px; 
}

.products__block {
	display: flex;
	flex: 1 1 30%;
	gap: 48px;

	
}

.products__img {

}

.products__title-card {
	color: #000;
font-family: "DM Serif Text";
font-size: 24px;
font-weight: 400;
line-height: 28.8px;
margin-bottom: 16px;
}


.products__card p {
color: #000;
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.6;
margin-bottom: 8px;
}

.products__link {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.products__read-link {
	color: #F55529;
font-family: "Inter";
font-size: 16px;
font-weight: 800;
line-height: 24px;
}

.products__read-link:hover {
	text-decoration: underline;
	color: #b84121;
}





























































