@import  url("fonts.css");
@import  url("reset.css");


.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	border-bottom: 1px solid #333;
}
.header--margin{
	margin-bottom: 100px;
}

[class*="__container"] {
	width: 1270px;
	margin: 0 auto;
	padding: 0 15px;
}

.header__container {
	display: flex;
	align-items: center;
	padding-top: 34px;
	padding-bottom: 31px;
	justify-content: space-between;
}

.header__left {
	display: flex;
	gap: 164px;
	align-items: center;
	padding-right: 1px;
}

.header__right {
	display: flex;
	gap: 60px;
	align-items: center;
}

.header__search {
	display: flex;
	gap: 12px;
	align-items: center;
	background-color: #F6F6F6;
	padding: 12px 48px;
	border-radius: 8px;
	color: #807D7E;
	font-family: "Causten";
	font-size: 18px;
	font-weight: 600;

}

.header__search:hover{
	background-color: #d4cccc;
	transition: 0.2s;
}

.header__search::before{
	content: "";
	background: url("../img/search.svg") center / cover no-repeat;
	width: 20px;
	height: 20px;
}

.header__right {
	display: flex;
	align-items: center;
	gap: 60px;
}

.header__language {
	color: #333;
	font-family: "Causten";
	font-size: 18px;
	gap: 19px;
	display: flex;
	align-items: center;
}

.header__language::after {
	background: url("../img/variant.svg") center/cover;
	min-height: 5px;
	min-width: 10px;
	content: "";
}

.header__enter {
	display: flex;
	align-items: center;
	gap: 29px;
}

.login {
	border-radius: 8px;
	background: #8A33FD;
	padding: 12px 48px;
	color: #FFF;
	text-align: center;
	font-family: "Causten";
	font-size: 18px;
	font-weight: 600;
}

.login:hover {
background: #470a96;
transition: 0.3s;
}

.signup {
	color: #8A33FD;	
	font-family: "Causten";
	font-size: 18px;
	font-weight: 500;
	padding: 12px 0 12px 48px;
	border: 1px solid #3C4242;
	border-radius: 8px;
	min-width: 156px;
	max-height: 46px;
}

.signup:hover {
	background: #f3ecec;
}

/*=====================================================*/

.page {
	flex-grow: 1;
}

.page__container {
	max-width: 1270px;
	margin: 0 auto;
	overflow: hidden;
}

.block-category--margin {
	margin-bottom: 100px;
}

.block-category__title {
	display: flex;
	gap: 20px;
	color: #3C4242;
	font-family: "Core Sans C";
	font-size: 28px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0.56px;
	margin-bottom: 70px;
}

.block-category__title::before {
	content: "";
	width: 6px;
	height: 30px;
	border-radius: 10px;
	background-color: #8A33FD;
}


.block-category__products {
	margin: 0 -25px;

}

.products {
	display: flex;
	flex-wrap: wrap;
	row-gap: 50px;
}

.products__sell {
	padding: 0 25px;
	flex-basis: 25%;
}

.item-products {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.item-products__image {
	width: 100%;
	height: 100%;
	max-height: 396px;
	flex: 0 1 396px;

}

.item-products__image img {
	width: 100%;
	height: 100%;
}



.item-products__all {
	display: flex;
	justify-content: space-between;
	max-width: 270px;
	align-items: center;
}

.item-products__name {
	color: #2A2F2F;
	font-family: "Causten";
	font-size: 18px;
	font-weight: 700;
	line-height: 1.56; 
	letter-spacing: -0.715px;
}
.item-products__link {
	color: #7F7F7F;
	font-family: "Causten";
	font-size: 13px;
	font-weight: 500;
	line-height: 2.08; 
	letter-spacing: -0.536px;
}


/*=================================================================*/

.block-orders__info {
	display: flex;
	font-display: column;
	justify-content:space-between ;
	border-radius: 8px;
	background: #F6F6F6;
	min-height: 135px;
	max-width: 900px;
	margin: 0 auto;
}

.block-orders__item {
	padding-top: 28px;
	padding-left: 47px;
}

.item-block-orders__nom {
margin-bottom: 14px;
color: #3C4242;
font-family: "Causten";
font-size: 20px;
font-weight: 600;
text-align: left;
}

.item-block-orders__data {
	margin-bottom: 7px;
}

.block-status__mod {
color: #BEBCBD;
font-family: "Causten";
font-size: 14px;
font-weight: 400;
}

.item-block-orders__data,
.item-block-orders__delivery,
.item-column-left__status,
.item-column-left__pay {
	color: #807D7E;
	text-align: left;
	font-family: "Causten";
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
}

.item-column-left__pay,
.item-column-left__status {
	text-align: right;
}

.item-column-left__status{
	margin-bottom: 7px;
}


.block-orders__coluumn-left {
display: flex;
flex-direction: column;
padding-top: 66px;
padding-right: 47px;
text-align: right;
}

.block-orders--margin {
	margin-bottom: 30px;
}


.block-status {
	display: flex;
	justify-content: space-between;
	max-width: 900px;
	margin: 0 auto;
	
}

.block-status__left {
	display: flex;
	gap: 25px;	

}
.block-status__item-color,
.block-status__item-qty,
.block-status__item-name {
	margin-top: 3px;
	margin-bottom: 10px;
	color: #3C4242;
	font-family: "Causten";
	font-size: 16px;
	font-weight: 600;
	
}
.block-status__cover{
	width: 100%;
	height: 100%;
	max-height: 96px;
	flex: 0 1 96px;
}





.block-status__rigt-button {
	padding: 14px 28px;
	border-radius: 8px;
	background: #8A33FD;
	min-width: 144px;
	min-height: 50px;
	display: flex;
	color: #FFF;
	font-family: "Causten";
	font-size: 18px;
	font-weight: 400;
}

.block-status__rigt-button:hover {
	background: #631ebe;
	transition: all 0.3s ;
}

.block-status__img {
	max-width: 100%;
	max-height: 100%;
}

.block-status__right {
	padding: 23px 0px;
}

.block-status__mod {
	color: #BEBCBD;
	font-family: "Causten";
	font-size: 14px;
	font-weight: 600;
}




.block-status__item-price {
color: #807D7E;
font-family: "Causten";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.block-status--margin {
	margin-bottom: 30px;
}

/*================================================*/
.wish-container {
	max-width: 903px;
	overflow: hidden;
}

.wish-title {
	color: #3C4242;
	font-family: "Core Sans C";
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 0.56px;
}

.wish-container--margin {
	margin: 100px auto;
}

.wish-title--margin {
	margin-bottom: 20px;
}

.wish-card {
	display: flex;
	justify-content: space-between;
}

.wish-card__left-content {
	display: flex;
	gap: 36px;
}

.wish-card__leftbg {
	align-self: center;
}

.wish-card__left-img {
	width: 100%;
	height: 100%;
	max-height: 110px;
	flex: 0 1 110px;
}

.wish-card__wish-img {
	max-width: 100%;
	max-height: 100%;
}

.wish-card__info {
	align-self: start;
}

.wish-card__name,
.wish-card__color,
.wish-card__qa {
	color: #3C4242;
font-family: "Causten";
font-size: 22px;
font-weight: 700;
letter-spacing: 0.44px;
}

.wish-card__name,
.wish-card__color {
	margin-bottom: 12px;
}

.wish-card__info span {
	color: #807D7E;
font-family: "Causten";
font-size: 22px;
font-weight: 500;
letter-spacing: 0.44px;
}

.wish-card__right-content {
	display: flex;
	gap: 50px;
	align-self: center;
}

.wish-card__right-price {
	color: #807D7E;
	font-family: "Causten";
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.44px;
	padding: 14px 0px;
	
}

.wish-card__right-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background: #8A33FD;
	height: 50px;
	width: 143px;
	margin-left: 7px;
	color: #FFF;

	font-family: "Causten";
	font-size: 18px;
	font-weight: 500;

}

.wish-card__right-button:hover {
	background: #4d2286;
	transition: all 0.3s;
}

.wish-card--padding {
border-bottom: #EDEEF2 1px solid;
padding:30px 0px;
}












































