@use "sass:math";
@import "_functions";
@import "_reset.scss";
@import "_fonts.scss";

main {
	max-width: toRem(750);
	margin: 0 auto;
}
.button {
	padding: toRem(25);
	background: blue;
	transition: all 0.3s;
	display: inline-block;
	&:hover{
		background: rebeccapurple;
	}
}
















































