@import  url("fonts.css");
@import  url("reset.css");




.footer {
	max-width: 1221px;
	margin: 0 auto;
	background: #37393F;
}

.first-block {
	display: flex;
	gap: 185px;
	
}

.first-block__item-name span {
	color: #40DDB6;
}

.first-block__item-name {
	color: #FFF;
	font-family: "Poppins";
	font-size: 25px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.first-block__item-name::before {
	content: "";
	background: url("../img/Iconconsulting.svg")center / cover;
	vertical-align: middle;
	height: 29px;
	width: 31px;
	display: inline-block;
}

.first-block__item-contacts {
	display: flex;
	
}
.first-block__item-call {
	display: flex;
	justify-content: center;
}

.first-block__item-call::before {
background: url("../img/phone.svg")center / cover;
width: 68px;
height: 68px;
content: "";



}

.first-block__title {
	color: #FFF;
font-family: "Poppins";
font-size: 20px;
font-weight: 600;
margin-bottom: 3px;

}

.first-block__item-contacts p {
	color: #FFF;
font-family: "Inter";
font-size: 18px;
font-weight: 400;
}

.first-block__item-mail::before {
	background: url("../img/Message.svg")center / cover;
	width: 68px;
	height: 68px;
	content: "";
	display: inline-block;
}

.first-block__item-location::before {
	background:url("../img/geo.svg")center / cover;
	width: 68px;
	height: 68px;
	content: "";
	display: inline-block;
}
