@use "sass:math";
@import "_functions";
@import "_fonts.scss";
@import "_reset.scss";
@import "menu.scss";


// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1240;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

.wrapper {
  overflow: clip;
  min-height: 100%;
  font-family: "Roboto";
}

.wrapper > main {
  flex-grow: 1;
}


//========================================================================================================================================================

.header {
  // .header__ship
  &__ship {
  }
  // .header__main
  &__main {
  }
}
.ship-header {
background: #b32020;
width: 100%;
min-height: toRem(50);
display: flex;
gap: toRem(15);
justify-content: space-between;
align-items: center;

  // .ship-header__container
&__container {
   max-width: toRem(1408);
	width: 100%;
   margin: 0 auto;
   padding-left: toRem(16);
   padding-right: toRem(16);
   display: flex;
	justify-content: space-between;
   align-items: center;
   gap: 30px;
}
  // .ship-header__title
&__title {
   color: #fff;
   font-size: toRem(14);
   line-height: 1.28;
	margin: 0 auto
}
  // .ship-header__close
&__close {
   flex: 0 0 toRem(12);
   width: toRem(12);
   height: toRem(12);
   transition: all 0.3s;
   @media (any-hover) {
      &:hover {
      transform: scale(1.1);
      }
   }
}
}
.main-header {

color: #fff;
  // .main-header__container
&__container {
   max-width: toRem(1408);
   margin: 0 auto;
   padding-left: toRem(16);
   padding-right: toRem(16);
	z-index: 1;
   display: flex;
   justify-content: space-between;
   gap: toRem(15);
   min-height: toRem(96);
   align-items: center;
   position: relative;
}
  // .main-header__menu-body
&__menu-body {
   @media (max-width: 767.98px) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 100%;
      padding: 150px 15px 30px 15px;
      background: rgb(18, 138, 171, 0.5);
      overflow: auto;
      display: flex;
		
      flex-direction: column;
      row-gap: toRem(15); // геп між списками
      transition: left 0.3s;
      .menu-open & {
      left: 0;
      }
   }
   @media (min-width: 767.98px) {
      grid-template-columns: 1fr toRem(124) 1fr;
      width: 100%;
      display: grid;
   }
}
  // .main-header__left-part
&__left-part {
}

  // .main-header__left-list
&__left-list {
   display: flex;
   align-items: center;
   row-gap: toRem(15);
   @media (max-width: 767.98px) {
      flex-direction: column;
      justify-content: flex-end;
   }
   @media (min-width: 767.98px) {
      flex-wrap: wrap;
      column-gap: toRem(35);
      row-gap: toRem(15);
   }
}
  // .main-header__item-left
&__item-left {
}
  // .main-header__link
&__link {
   color: #fff;
   font-size: toRem(16);
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 1px;
   text-transform: uppercase;
   @media (any-hover) {
      &:hover {
      text-decoration: underline;
      }
   }
}
  // .main-header__logo
&__logo {
   width: toRem(88);
   height: toRem(40);
   @media (min-width: 768px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
}
  // .main-header__img-logo
&__img-logo {
   width: 100%;
   height: 100%;
   object-fit: contain;
}
  // .main-header__button-menu
&__button-menu {
}
  // .main-header__right-part
&__right-part {
   @media (min-width: 767.98px) {
      grid-column-start: 3;
      justify-self: end;
   }
}
  // .main-header__right-list
&__right-list {
   display: flex;
   align-items: center;
   row-gap: toRem(15);
   @media (max-width: 767.98px) {
      flex-direction: column;
      justify-content: flex-end;
   }
   @media (min-width: 767.98px) {
      flex-wrap: wrap;
      column-gap: toRem(35);
      row-gap: toRem(15);
   }
}
  // .main-header__item-right
&__item-right {
}
}


.main {

	&__container {
		margin-top: -96px;
		max-width: 100%;
	}
}
.hero {
&--margin{
	margin-bottom: toRem(59);
}
	&__page {
	grid-template-columns: repeat(2, 1fr);
	display: grid;
	@media (max-width:toRem(450)) {
		grid-template-columns: repeat(1, 1fr);
		display: grid;
		
	}
	}

	&__left-side {
		
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			aspect-ratio: 800 / 720;
		}
	}

	&__right-side {
		background: #996B60;
		padding: 38% 8% 14% 8%;
	}

	&__content {
		max-width: toRem(572);
	}

	&__title {
		color: #FFF;
		font-family: "Liberation Serif";
		font-size: toRem(73);
		line-height: 1.31;
		margin-bottom: toRem(34);
		@media (max-width:toRem(1112)) {
			font-size: toRem(60);
		}
		@media (max-width:toRem(888)) {
			font-size: toRem(50);
		}
		@media (max-width:toRem(740)) {
			font-size: toRem(40);
		}
	}

	&__text {
		color: #FFF;
		font-size: toRem(18);
		line-height: 1.3;
		margin-bottom: toRem(46);
	}

	&__button {
		display: inline-block;
		border: 1px solid #FFF;
		padding: toRem(20) toRem(52);
		color: #000;
		text-align: center;
		font-size: toRem(12);
		line-height: 1.16;
		letter-spacing: 1px;
		text-transform: uppercase;
		transition: all 0.3s;
		@media(any-hover:hover){
			&:hover {
				border: 1px solid #000000;
				color: #fffafa;
			}
		}
	}
}

.citate {
	&--margin{
		margin-bottom: toRem(55);
	}

	&__container {
		padding-bottom: toRem(41);
		border-bottom: 1px solid #000;
		max-width: toRem(1320);
		margin: 0 auto;
		display: flex;
		gap: toRem(15);
		justify-content: space-between;
		@media (max-width:toRem(926)) {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			row-gap: toRem(35);
		}
	}

	&__card {
		flex: 0 1 toRem(288);
		display: flex;
		flex-direction: column;
		row-gap:toRem(36); 
		@media (max-width:toRem(893)){
			row-gap:toRem(5); 
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
			aspect-ratio: 300 / 50;
		}
	}

	&__title {
		color: #000;
		text-align: center;
		font-size: toRem(18);
		line-height: 1.77;
		
	}
}

.choise {

	&__container {
		margin: 0 auto;
		max-width: toRem(1340);
		padding-left: toRem(15);
		padding-right: toRem(15);
		padding-bottom: toRem(80);
		@media(max-width: 991.98px){
			padding-bottom: toRem(25);
		}

	}

	&__cover{
		display: flex;
		justify-content: space-between;
		gap: toRem(10);
		@media (max-width:991.98px){
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			row-gap: toRem(30);
		}
	}

	&__general-name{
		margin: 0 auto;
		display: block;
		max-width: toRem(673);
		color: #000;
		text-align: center;
		font-family: "Liberation Serif";
		@include adaptiveValue ("font-size", 64, 40);
		font-style: normal;
		font-weight: 400;
		line-height: 1.25;
		margin-bottom: toRem(24);
	}

	&__flavors{
		color: #000;
		text-align: center;
		font-size: toRem(12);
		line-height: 1.5;
		letter-spacing: 1px;
		text-transform: uppercase;
		@include adaptiveValue("margin-bottom", 84, 20)
	}

	&__card {
		position: relative;
		max-width: toRem(382);
		width: 100%;
	}

	&__img {
		aspect-ratio: 382 / 451;
		width: 100%;
		object-fit: cover;
	}

	&__detalis {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		color: #000;
		text-align: center;
		font-family: "Liberation Serif";
		font-size: toRem(30);
		line-height: 1.46;
		margin-bottom: toRem(16);
	}

	&__description {
		color: #000;
		text-align: center;
		font-size: toRem(16);
		line-height: 1.75; 
		margin-bottom: toRem(27);
	}

	&__link {
		
		display: inline-block;
		color: #FFF;
		text-align: center;
		font-size: toRem(12);
		line-height: 1.16;
		letter-spacing: 1px;
		text-transform: uppercase;
		background: #191919;
		padding: toRem(19) toRem(48);
		transition: all 0.3s;
		@media (any-hover:hover) {
			&:hover{
				background: #463c3c;
				border-radius: 10px;
			}
		}
	}

	&__by-link {
		width: toRem(100);
		height: toRem(100);
		background: #191919;
		border-radius: 50%;
		text-align: center;
		color: #FFF;
		font-size: toRem(12);
		line-height: 1.16;
		letter-spacing: 1px;
		text-transform: uppercase;
		position: absolute;
		top: 23px;
		right: 19px;
		transition: 0.3s;
		padding: toRem(35) toRem(21) toRem(37) toRem(21);
		@media (any-hover:hover) {
			&:hover{
				background: #463c3c;
			}
		}
	}
}
.choise--margin {
	margin-bottom: toRem(61);
	@media(max-width: 991.98px){
		margin-bottom: toRem(25);
	}
}

.apperetive {

	&__container {
		margin: 0 auto;
		
		max-width: toRem(1350);
		padding: toRem(60) toRem(15) toRem(95) toRem(15);
		border-bottom: 1px solid #000;
		border-top: 1px solid #000;
		@media(max-width: 991.98px){
			padding-top: toRem(25);
			padding-bottom: toRem(35);
		}
	}

	&__cover-img {
		max-width: toRem(1320);
		@include adaptiveValue("margin-bottom", 58, 10)
		
	}

	&__img {
		width: 100%;
		height: 100%;
		aspect-ratio: 1320 / 560;
		object-fit: cover;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		gap: toRem(10);
		@media (max-width:1018px) {
			display: flex;
			flex-direction: column;
			row-gap: toRem(20);
			align-items: center;
		}
	}

	&__title {
		color: #000;
		font-family: "Liberation Serif";
		@include adaptiveValue("font-size", 53, 35);
		line-height: 1.5;
	}

	&__detalis {
		max-width: toRem(550);
		p{
			color: #000;
			font-size: toRem(18);
			line-height: 1.77;
			@media (max-width:550px){
				font-size: toRem(15);
			}
		}
	}
}
.apperetive--marging {
	margin-bottom: toRem(10);
}


.ingredients {

	&__container {
		
		margin: 0 auto;
		max-width: toRem(1350);
		padding-left: toRem(15);
		padding-right: toRem(15);
		padding-top: toRem(50) ;
		display: flex;
		justify-content: space-between;
		gap: toRem(55);
		@media(max-width: 991.98px){
			padding-top: toRem(25);
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__info {
		flex: 0 1 29%;
		padding-top: toRem(52);
		@media(max-width: 991.98px){
			flex: 0 1 80%;
			justify-content: center;
			padding-top: toRem(0);
		}
	}

	&__title {
		color: #000;
		font-family: "Liberation Serif";
		font-size: toRem(30);
		line-height: 1.46; 
		margin-bottom: toRem(19);
	}

	&__text {
		color: #000;
font-size: toRem(18);
line-height: 1.77; 
margin-bottom: toRem(21);
	}

	&__cover-img {
		flex: 0 1 71%;
		@media(max-width: 991.98px){
			flex: 0 1 100%;
			justify-content: center;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		aspect-ratio: 880 / 608;
		object-fit: cover;
	}
}
.ingredients--margin {
	margin-bottom: toRem(50);
	@media(max-width: 991.98px){
		margin-bottom: toRem(25);
	}
}


.statement {
	width: 100%;
	background: #000;

	&--margin{
		margin-bottom: toRem(60);
		@media(max-width: 991.98px){
			margin-bottom: toRem(30);
		}
	}

	&__container {
		margin: 0 auto;
		max-width: toRem(1350);
		padding: toRem(50) toRem(15);
		display: flex;
		justify-content: space-between;
		gap: toRem(10);
		@media(max-width: 991.98px){
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__info {
		flex: 0 1 toRem(318);
	}

	&__title,
	&__author {
		color: #FFF;
text-align: center;
font-size: toRem(18);
line-height: 1.77;
margin-bottom: toRem(18);
@media(max-width: 991.98px){
	margin-bottom: toRem(10);
}
	}

	&__author {
		font-size: toRem(14);
		margin-bottom: toRem(10);
	}

	&__sub-title {
		color: #8A8A8A;
		text-align: center;
		font-size: toRem(16);
		line-height: 1.5;
		text-transform: capitalize;
		@media(max-width: 991.98px){
			margin-bottom: toRem(25);
		}
	}
}

.producer {

	&__container {
		max-width: toRem(1350);
		padding-left:toRem(15);
		padding-right:(15);
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		gap: toRem(15);
		@media (max-width:800px){
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__cover-img {
		flex: 0 1 toRem(550);
	}

	&__img {
		width: 100%;
		height: 100%;
		aspect-ratio: 550 / 470;
		object-fit: cover;
	}

	&__info {
		flex: 0 1 48%;
		@media (max-width:800px){
			flex: 0 1 75%;
			
		}
	}

	&__title {
		color: #000;
font-family: "Liberation Serif";
@include adaptiveValue("font-size", 64, 35);
line-height: 1.25;
margin-bottom: toRem(154);
@media (max-width:800px){
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: toRem(25);
	
}
	}

	&__text {
		color: #000;
		font-size: toRem(18);
		line-height: 1.77;
		margin-bottom: toRem(35);
	}

	&__link {
		color: #000;
		font-size: toRem(12);
		line-height: 1.5;
		letter-spacing: 1px;
		text-transform: uppercase;
		@media (any-hover:hover){
			&:hover{
			text-decoration: underline;
		}
		}
		@media (max-width:500px){
			font-size: toRem(20);
		}
	}
}
.producer--margin {
	margin-bottom: toRem(60);
}



.mood {
	position: relative;
	padding: 4% toRem(15);

		&__container {
			max-width: toRem(1350);
			margin: 0 auto;

		}
			&__img {
				display: block;
				height: 100%;
				width: 100vw;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}



		&__info {

			position: relative;
			top: 0;
			left: 0;
			z-index: 3;
			max-width: toRem(580);
			padding: toRem(40) toRem(15);
			background: #000;
			margin-bottom: toRem(22);
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__title {
			color: #FFF;
			text-align: center;
			font-family: "Liberation Serif";
			@include adaptiveValue("font-size", 54, 35);
			line-height:1.45;
			margin-bottom: toRem(9);
		}

		&__sub-title {
			color: #FFF;
			text-align: center;
			font-size: toRem(16);
			line-height: 1.75;
			margin-bottom: toRem(26);
		}

		&__link {
			display: inline-block;
			color: #000;
			text-align: center;
			font-size: toRem(12);
			line-height: 1.16;
			letter-spacing: 1px;
			text-transform: uppercase;
			padding: toRem(19) toRem(58);
			border: 1px solid #FFF;
			background: #FFF;
			transition: all 0.3s;
			@media (any-hover:hover) {
				&:hover {
					background: #b9b7b7;
					border-radius: 8px;
				}
			}
		}

		&__social {
						position: relative;
			top: 0;
			left: 0;
			z-index: 3;
			max-width: toRem(580) ;
			background: #000;
			padding: toRem(30) toRem(15);
			
		}

		&__follow {
			color: #FFF;
text-align: center;
font-size: toRem(16);
font-style: normal;
line-height: 1.75;
margin-bottom: toRem(17);
		}

		&__list {
			display: flex;
			justify-content: center;
			gap: toRem(21);
			
		}

		&__item-list {
			color: #FFF;
			text-align: center;
			font-size: toRem(12);
			line-height: 1.5;
			letter-spacing: 1px;
			text-transform: uppercase;

		}

		&__link-item {
			transition: all 0.3;
			@media (any-hover:hover){
				&:hover{
					text-decoration: underline;
				}
			}
		}
}


.footer {
	background: #000;
	width: 100%;

	&__container {
		@include adaptiveValue('padding-top', 45, 20);
		max-width: toRem(1350);
		padding-left: toRem(15);
		padding-right: toRem(15);
		margin: 0 auto;
	}

	&__cover{
display: flex;
gap: toRem(15);
@include adaptiveValue('margin-bottom', 141, 20, 0, $containerWidth, 768);
@media(max-width: toRem(988)){
	flex-wrap: wrap;
	row-gap: toRem(25);
}
	}


	&__bot {
		padding: toRem(25);
		

	}

	&__list-bot {
		max-width: toRem(751);
		display: flex;
		justify-content: space-between;
		gap: toRem(15);
		@media(max-width: toRem(630)){
			display: flex;
			flex-wrap: wrap;
			row-gap: toRem(15);
			
		}
		span{
			color: #FFF;
			font-size: toRem(15);
			line-height: 1.6; 
		}

		
	}



	&__link-bot {
		color: rgba(255, 255, 255, 0.60);
font-size: toRem(16);
line-height: 1.5;
		@media (any-hover:hover) {
			&:hover{
				text-decoration: underline;
			}
			
		}
	}
}
.form {
	@include adaptiveValue('margin-right', 220, 15, 0, $containerWidth, 991.98);
max-width: toRem(440);
	&__title {
		color: #FFF;
font-family: "Liberation Serif";
font-size: toRem(42);
line-height: 1,71;
margin-bottom: toRem(12);
	}

	&__info {
		color: #FFF;
font-size: toRem(18);
line-height: 1.5;
padding-right: toRem(16);
margin-bottom: toRem(14);
	}

	&__body{
display: flex;

	}

	&__input {
		box-sizing: 1px  ;
		outline: none;
		width: 100%;
		background: #000;
		color: #FFF;
		border-bottom: 1px solid #5c5555;
		padding: toRem(18) toRem(10) toRem(21) toRem(9);
		&::placeholder{
			color: #818181;
			font-family: Roboto;
			font-size: toRem(9);
			line-height: 1.55;
			letter-spacing: 0.12px;
			text-transform: uppercase;
	}
	&:focus {
		background: #5c5555;
	}
}

	&__button {
		transition: all 0.3s;
		color: #FFF;
		text-align: center;
		font-size: toRem(12);
		line-height: 1.16;
		letter-spacing: 0.12px;
		text-transform: uppercase;
		padding-left: toRem(5);
		border-bottom: 1px solid #5c5555;
		@media (any-hover:hover) {
			&:hover {
				background: #696161;
			}
		}
	}
}
.menu {
	flex: 0 1 toRem(660);
	display: flex;
	justify-content: space-between;
	gap: toRem(15);
	@media(max-width: toRem(544)){
		display: flex;
		flex-wrap: wrap;
		row-gap: toRem(25);
	}

	@media(max-width: toRem(468)){
		display: flex;
		flex-direction: column;
		row-gap: toRem(25);
	}



	&__title {
		color: #FFF;
		font-size: toRem(14);
		line-height: 1.5;
		text-transform: uppercase;
		margin-bottom: toRem(29);
		&:after {
			content: "";
			display: inline-block;
			background: url('../img/ch-down.svg') center/cover;
			width: 12px;
			height: 12px;
			margin-left: toRem(20);

		}
	}



	&__item-list {
		
		position: relative;
		color: rgba(255, 255, 255, 0.60);
font-size: toRem(12);
line-height: 1.5;
letter-spacing: 1px;
text-transform: uppercase;
		&:not(:last-child) {
			margin-bottom: toRem(21);

		}

	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}

	&__link {
	}
}


.visible {
	display: block;
}

.hidden {
	display: none;
}




















}