@import "_reset.scss";
@import "_fonts.scss";



.wrapper {
	overflow: clip;
	min-height: 100%;

}


.header {


	&__container {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		max-width: 1270px;
		margin: 0 auto;
		padding: 30px 15px;
	}

	&__right-content {
		display: flex;
		justify-content: space-between;
		flex: 0 1 439px;
		align-items: center;
		gap: 10px;
	}

	&__form {
		
	}

	&__left-content {
		display: flex;
		justify-content: space-between;
		flex: 0 1 591px;
		gap: 10px;
	}

	&__actions {
	display: flex;
	gap: 10px;
	}

	&__link {
		border-radius: 8px;
		background: #8A33FD;
		padding: 12px 48px;
		color: #FFF;
		text-align: center;
		font-family: "Causten";
		font-size: 18px;
		font-weight: 500;
	}

	&__link--color {
		border-radius: 8px;
		border: 1px solid #3C4242;
		padding: 12px 48px;
		color: #8A33FD;
		background: #fff;
	}
}
.form input {
padding: 12px 48px;
border-radius: 8px;
background: #F6F6F6;
max-width: 184px;
text-align: center;

	&__body {
		
	}

	&__item {

	}
}

