@import  url("fonts.css");
@import  url("reset.css");

.main-content {
	max-width: 692px;
	margin: 0 auto;
}

.people-img {
	max-width: 100%;
	margin: 0 0 37px 0;
}

.content-first h2 {
	font-family: "poppins";
	line-height: 1.27;
	color: rgba(55, 57, 63, 1);
	font-weight: 600;
	font-size: 30px;
	text-transform: capitalize;
	margin: 0 0 3px 0;
}

.content-first p{
	font-family: "inter";
	line-height: 1.46;
	font-weight: 400;
	font-size: 18px;
	color: rgba(125, 125, 125, 1);
}

.content-first h3 {
	font-family: "poppins";
	line-height: 1.27;
	color: rgba(107, 119, 229, 1);
	font-size: 20px;
	font-weight: 600;
	margin: 42px 0 12px 0;
}

.content-first {
	margin-bottom: 40px;
}



.content {
	display: inline-block;
	max-width: 332px;
	margin: 0 0 0 30px;
}

.content-second img {
	max-width: 330px;
	width: 100%;
}



.content-second img,
.content {
	font-size: 18px;
}

.title-content {
	font-size: 25px;
	color: #37393f;
	margin: 0 0 15px 0;
	font-family: "poppins";
	font-weight: 600;
}
.subtitle-content {
	font-size: 20px;
	color: #40ddb6;
	margin: 0 0 21px 0;
	font-family: "poppins";
	font-weight: 600;
	
}

.item {
	white-space: nowrap;
	padding: 0 0 0 35px;
	margin: 0 0 30px 0;
	font-family: "inter";
	font-weight: 400;
	font-size: 18px;
	max-width: 40%;
	color: rgba(125, 125, 125, 1);
}

.jewelery {
	margin-top: 140px;
	max-width: 1170px;
	background: rgba(255, 249, 244, 1); 
	
}


.inside-text-contet {
	display: inline-block;
	max-width: 563px;
}

.img-container {
	display: inline-block;
	max-width: 568px;
}

.img-container img {
	max-width: 273px;
	width: 100%;
}