@import  url("fonts.css");
@import  url("reset.css");

.main-content {
	max-width: 693px;
	margin: 0 auto;
}


.img-content {
	max-width: 100%;
	margin-bottom: 37px;
}
.title {
	font-family: "poppins";
	font-weight: 600;
	font-size: 30px;
	line-height: 1.27;
	color: rgba(60, 55, 63, 1);
	margin: 0 0 3px 0;
}

.block-first p {
	font-family: "inter";
	line-height: 1.46;
	font-size: 18px;
	color: rgba(125, 125, 125, 1);
}

.text-bot {
	margin: 0 0 40px 0;
}

.text-top {
	margin: 0 0 42px 0;
}


.subtitle {
font-family: "poppins";
font-weight: 600;
font-size: 20px;
line-height: 1.27;
color: rgba(107, 119, 229, 1);
margin: 0 0 12px 0;
}

.bot-text {
	margin: 0 0 40px 0;
}


.second-block {
	display: inline-block;
	font-size: 0px;
}

.right-content {
	display: inline-block;
	max-width: 332px;
	margin: 0 0 0 29px;
	
}

.bot-title {
	font-family: "poppins";
	font-weight: 600;
	color:rgba(55, 57, 63, 1) ;
	font-size: 25px;
	margin: 0 0 15px 0;
	line-height: 1.27;
}

.bot-subtitle {
	font-family: "poppins";
	font-weight: 600;
	color:rgba(64, 221, 182, 1) ;
	font-size: 20px;
	margin: 0 0 21px 0;
	line-height: 1.27;
}

.right-content ul {
	font-family: "inter";
	color: rgba(125, 125, 125, 1);
	line-height: 1.27;
	font-size: 18px;
	padding: 0 0 0 35px;
}

.list{
	margin-bottom: 30px;
}


.bot-content {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 140px;
	
}

.jewelery-block {
	display: inline-block;
	font-size: 0;
	
}

.text-block {
	max-width: 563px;
	display: inline-block;
	
}


.img-block {
	max-width: 606px;
	display: inline-block;
	vertical-align: top;
}

.what {
	font-family: "inter";
	font-size: 28px ;
	color:rgba(208, 107, 0, 1) ;
	margin:0 0 13px 0 ;
}

.create {
	font-family: "DM Serif text";
	font-size: 59px ;
	color: rgba(14, 51, 61, 1);
	margin:0 0 25px 0 ;
	line-height: 1.46;
	max-width: 526px;
}

.text-block p {
	font-family: "inter";
	font-size: 20px ;
	color: rgba(71, 71, 71, 1);
	margin:0 0 21px 0 ;
	line-height: 1.8;
}


.girlimg .earningimg {
	max-width: 100%;
}

.girlimg {
	margin: 0 22px 0 38px;
}

.ancient-grece {
	margin-top: 150px;
	font-family: "inter";
	font-size: 18px;
}

.top-content h1 {
font-size: 45px;
text-align: center;
color: blueviolet;
margin: 0 0 22px 0;
}

.top-content h2 {
	font-size: 25px;
	text-decoration: underline;
	margin-bottom: 15px;
	line-height: 1.5;
	padding: 0 0 0 25px;
}


.list {
	font-family: "poppins";
	margin: 0 0 10px 0;
}

#geographyid {
	margin: 20px 0 25px 15px;
}


.nature p {
	overflow: scroll;
	max-width: 500px;
}

#natureid {
	margin: 20px 0 25px 15px;
	font-size: 20px;
	color: yellow;
}


#darkid {
	margin: 20px 0 25px 15px;
	font-size: 20px;
	color: red;
}

.test {
	max-width: 650px;
	max-height: 50px;
	overflow: hidden;
	background: yellow;
	padding: 0 0 15px 0;
}



.archaik h3 {
	font-size: 25px;
	padding: 15px 0;
}

.classik h3 {
	font-size: 20px;
}


.sciense h4 {
	text-align: center;
	font-size: 25px;
	padding: 25px 0;
}
