@import  url("fonts.css");
@import  url("reset.css");


.wrapper {
	overflow: clip;
	min-height: 100%;
}


.products {
	background: url("../img/pngegg.webp") no-repeat;
	background-position: right bottom;
	

}

.products__container {
	max-width: 1328px;
	margin: 0 auto;
	padding-left: 80px;
	padding-right: 80px;
}

.products__title {
	color: #000;
	font-family: "DM Serif Text";
	font-size: 58px;
	font-weight: 400;
	margin-bottom: 27px;
}

.products__sub-title {
	color: #606060;
font-family: "Inter";
font-size: 20px;
font-weight: 400;
line-height: 1.8;
margin-bottom: 30px; 
}

.products__block {
	display: flex;
	gap: 48px;
	flex-wrap: wrap;
	
}

.products__cover-img {
	aspect-ratio: 357 / 240;
}
.products__img {
max-width: 100%;
max-height: 100%;
object-fit: cover;

}

.products__title-card {
	color: #000;
font-family: "DM Serif Text";
font-size: 24px;
font-weight: 400;
line-height: 28.8px;
margin-bottom: 16px;
}

.products__card {
	flex: 1 1 30%;
}




.products__card p{
color: #000;
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.6;
margin-bottom: 8px;
}

.products__link {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.products__read-link {
	color: #F55529;
font-family: "Inter";
font-size: 16px;
font-weight: 800;
line-height: 24px;
}

.products__read-link:hover {
	text-decoration: underline;
	color: #b84121;
}

.products--margin,
.jewelery--margin {
	margin-bottom: 100px;
}

@media (max-width:1119px) {

	.products__card {
		flex: 0 0 38%;
		
	}

	.products__block {
		justify-content: center;
	}

	.products__title,
	.products__sub-title {
		text-align: center;
	}

}

@media (max-width:1024px){

}

@media (max-width:777px) {

	.products__card {
		flex: 0 0 45%;	
	}
	.products {
		background: none;}

}

@media (max-width:672px){
	.products__title {
		font-size: 34px;
}
.products__card {
	flex: 0 0 70%;	
	
}
}

@media (max-width:517px) {
	.products__card {
		flex: 1 1 100%;
		
}
.products__title {
font-size: 24px;
margin-bottom: 10px;
}

.products__sub-title {
	font-size: 16px;
	margin-bottom: 15px;
}

.products__title-card {
	font-size: 18px;
}

.products__card p {
	font-size: 14px;
}


}
@media (max-width:375px){
.products__container {
	padding-left: 10px;
	padding-right: 10px;
}
}






/*----------------------------------------------------------*/

.jewelery__container {
	max-width: 1193px;
	margin: 0 auto;
}

.jewelery__title {
	color: #291403;
font-family: "DM Serif Text";
font-size: 58px;
font-weight: 400;
margin-bottom: 27px;
text-align: center;
}

.jewelery__sub-title {
	color: #818181;
text-align: center;
font-family: "Cormorant Infant";
font-size: 30px;
font-weight: 700;
line-height: 1.4;
margin-bottom: 62px;
}

.jewelery__block {
	display: flex;
	gap: 30px;
	
	flex-wrap: wrap;
}

.jewelery__card {
	display: flex;
	flex-direction: column;
	flex: 1 0 20%;
}

.jewelery__link-img {
	margin-bottom: 17px;
	
}

.jewelery__img{
transition: all 0.3s;
aspect-ratio: 271 / 270;
object-fit: cover;
}

.jewelery__img:hover {
	transform:scale(1.1);
}

.jewelery__cover-img {
	overflow: hidden;
	
}

.jewelery__cover-img img {
	max-width: 270px;
}


.jewelery__link-title,
.jewelery__link-coast {
	color: #000;
font-family: "Cormorant Infant";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 1.4;
}

.jewelery__link-coast:hover {
	text-decoration: underline;
}

.jewelery__link-title:hover {
	text-decoration: underline;
}


.jewelery__block {
	margin-bottom: 76px;
}

.jewelery__button {
	display: flex;
	text-align: center;
	justify-content: center;
	
}

.jewelery__link-button {
	
	color: #FFF;
font-family: "Ubuntu";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.8;
background: #FF7A49;
padding: 12px 42.5px;
transition: all 0.3s;
}

.jewelery__link-button:hover{
	background: #a74521;
}


@media(max-width:1200px){
	.jewelery__container {
		padding-left: 10px;
		padding-right: 10px;
	}
	.jewelery__card {
		flex: 1 0 25%;
	}
}

@media(max-width:938px){
	.jewelery__card {
		flex: 1 0 47%;
	}
	.jewelery__block {
		justify-content: center;
		padding-left: 10px;
	}
}

@media(max-width:670px){
	.jewelery__card {
		flex: 1 0 100%;
		align-items: center;
	}

}

@media(max-width:425px) {
	.jewelery__title {
		font-size: 36px;
	}

	.jewelery__sub-title {
		font-size: 24px;
		margin-bottom: 20px;
	}
}


.our {
	padding: 94px;
	background: #0E333D;
}

.our__container {
	max-width: 1375px;
	margin: 0 auto;
}

.our__title {
	color: #FFF;
	font-family: "DM Serif Text";
	font-size: 48px;
	font-weight: 400;
	line-height: 1.27;
	margin-bottom: 23px;
	text-align: center;
}

.our__sub-title {
color: #EBEBEB;
font-family: "Raleway";
font-size: 20px;
font-weight: 500;
line-height: 1.27; 
margin-bottom: 34px;
text-align: center;
}

.our__menu {
	display: flex;
	gap: 41px;
	justify-content: center;
	margin-bottom: 77px;
}

.our__item-menu {
	color: #FFF;

font-family: "Raleway";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 127%;
transition: all 0.3s;
}

.our__block {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	
}

.our__card {
	display: flex;
	flex-direction: column;
	flex: 1 0 20%;
}

.our__link-img {
	margin-bottom: 17px;
}

.our__link-title,
.our__link-coast {
	color: #FFF;
font-family: "Cormorant Infant";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 1.4;
transition: all 0.3s;
}

.our__img {
	max-width: 100%;
	max-height: 270px;
	aspect-ratio: 271 / 270;
	object-fit: cover;
	transition: all 0.3s;
}

.our__img:hover {
	transform: scale(1.1);
}

.our__link-title:hover,
.our__link-coast:hover,
.our__item-menu:hover {
text-decoration: underline;
}

.our__img-cover {
	overflow: hidden;
	border-radius: 2%;
}

@media(max-width:1178px){
	.our__card {
		flex: 0 1 30%;
	}
}

@media(max-width:938px){
	.our__card {
		flex: 1 0 47%;
	}
	.our__block {
		justify-content: center;
	}
}

@media(max-width:720px) {
	.our__card {
		flex: 1 0 100%;
		align-items: center;
	}
}

@media(max-width:375px) {
	.our__title {
		font-size: 30px;
	}

	.our__menu {
		gap: 8px;
		margin-bottom: 20px;
	}

	.our {
		padding: 30px;
		
	}

	.our__sub-title {
		font-size: 20px;
	}

	.our__item-menu {
		font-size: 16px;
	}

}

































































